[submodule "zdrojove_kody/libraries/WiCo"]
	path = zdrojove_kody/libraries/WiCo
	url = https://github.com/Wlczak/WiCo.git
[submodule "zdrojove_kody/libraries/Adafruit_NeoPixel"]
	path = zdrojove_kody/libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "zdrojove_kody/libraries/ArduinoJson"]
	path = zdrojove_kody/libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "zdrojove_kody/libraries/DHT11"]
	path = zdrojove_kody/libraries/DHT11
	url = https://github.com/dhrubasaha08/DHT11.git
[submodule "zdrojove_kody/libraries/pubsubclient"]
	path = zdrojove_kody/libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
